streamlit>=1.24.0
pandas>=1.3.5
sqlalchemy==1.4.46  # Try an explicit version
psycopg2-binary>=2.9.3
python-dotenv>=0.19.2
google-api-python-client>=2.33.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.4.6
matplotlib
plotly
wordcloud
# Add any other dependencies your application requires
